/*Rodapé*/
footer {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 6px;
}

.fixaRodape {
    width: auto;
    position: fixed;
    bottom: 0;
}

footer img {
    padding: 1% 0% 1% 0%;
    margin: auto;
    max-width: 100% !important;
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
}

#teste {
    margin: 0px !important;
}

.logo {
    max-width: 35%;
}

footer img {
    padding: 2% 3% 2% 3%;
    max-width: 100% !important;
}

@media (max-width: 480px) {

    #textoCapa {
        margin: 40px 30px 0px 40px;
    }
}