<app-menu-superior></app-menu-superior>

<div class="row" id="row-main">

  <div class="col-md-2">
    <app-menu-lateral [sections]="sections"></app-menu-lateral>
  </div>

<div class="col-md-10">
<div class="main-content">
    <!-- Conteúdo principal aqui -->
    <section id="section1">
      <h2>Section 1</h2>
      <p>Content of section 1.</p>
    </section>
  
    <section id="section2">
      <h2>Section 2</h2>
      <p>Content of section 2.</p>
    </section>
  
    <section id="section3">
      <h2>Section 3</h2>
      <p>Content of section 3.</p>
    </section>
  </div>
  </div>

<app-rodape></app-rodape></div>