<app-menu-superior></app-menu-superior>

<div class="row" id="row-main">

  <!-- Sidebar -->
  <div class="col-md-2" id="sidebar"> 
    <app-menu-lateral></app-menu-lateral>
  </div>

  <!-- Conteúdo principal -->
  <div class="col-md-10" id="content">
      <section id="section1">
        <h2>Section 1</h2>
        <p>Content of section 1.</p>
      </section>

      <section id="section2">
        <h2>Section 2</h2>
        <p>Content of section 2.</p>
      </section>

      <section id="section3">
        <h2>Section 3</h2>
        <p>Content of section 3.</p>
      </section>
  </div>

  <!-- Rodapé -->
  <app-rodape></app-rodape>
</div>