<section id="2">
  <app-menu-superior></app-menu-superior>

  <div class="row" id="row-main">
    <!-- Sidebar -->
    <div class="col-md-2" id="sidebar">
      <app-menu-lateral></app-menu-lateral>
    </div>

    <!-- Conteúdo principal -->
    <div class="col-md-10" id="content">
      <div class="conteudo">
        <h1>Aspectos básicos da biologia, ecologia e controle de <i>Aedes</i></h1>
        <p>Nas últimas décadas, as doenças transmitidas por artrópodes (arboviroses) estão presentes em mais de 100
          países
          do mundo. Até o momento, são conhecidos mais de 500 arbovírus, dos quais, pelo menos, 150 são patogênicos ao
          homem. E, mais da metade destes arbovírus são transmitidos por mosquitos, em especial os do gênero Aedes, que
          são
          os vetores mais importantes na transmissão de diversas arboviroses, como Dengue, Chikungunya, Febre Amarela,
          Zika,
          Febre do Nilo Ocidental, diversas encefalites, entre outras (Charlier <i>et al</i>. 2017)</p>
      </div>

      <div class="row curiosidade">
        <div class="col-md-2">
          <img class="centro img-fluid" src="assets/images/icones/curiosidade.png" alt="Curiosidade">
        </div>
        <div class="col-md-10">
          <h3>CURIOSIDADE</h3>
          <hr>
          <p><b>Os vírus da dengue, todos os quatro sorotipos (DENV-1, DENV-2, DENV-3 e DENV-4), os vírus
              Chikungunya e Zika estão circulando simultaneamente no continente americano desde 2013. Dentre todas essas
              arboviroses, você sabe identificar a diferença de sintomas entre elas? Veja!</b></p>
          <p>A dengue, Zika e Chikungunya apresentam diversos sintomas e sinais clínicos semelhantes, que
            dificultam o diagnóstico inicial pelo profissional de saúde.</p>
          <p>A Febre Amarela é a mais letal de todas, seguido da Dengue com sinais de alerta e a Dengue
            severa. A
            Chikungunya é a mais incapacitante e se caracteriza principalmente pelas dores articulares</p>
          <p>Quanto à Zika, a transmissão de mãe a feto do vírus Zika (Síndrome Congênita do Zika), pode
            resultar em amplo
            espectro de malformações no feto, e até pode aumentar o risco de aborto espontâneo.</p>
        </div>
      </div>

      <div class="conteudo">
        <p>Atualmente, nos encontramos em um cenário de circulação simultânea de diversas arboviroses transmitidas pelo
          mesmo vetor urbano, o mosquito Aedes aegypti.</p>

        <div class="row imagem">
          <div class="col-lg-8">
            <img class="img-fluid" src="assets/images/modulo1/aula1/img1.png"
              alt="Foto da parte de trás de uma casa, as paredes possuem uma cor escura, há uma janela no centro com vários objetos na parte interna da residência e alguns vasos de planta e recipientes vazios no chão.">
          </div>
          <div class="col-lg-4 centro">
            <p>Falando mais um pouco do mosquito <i>Aedes aegypti</i>, ele se encontra em regiões tropicais e
              subtropicais,
              colonizando principalmente depósitos artificiais como tanques, barris, caixas d’água, pneus, recipientes
              descartáveis, vasos de flores, entre outros.</p>
          </div>
        </div>

        <p><i>Aedes aegypti</i> tem metamorfose completa, ou seja, seu ciclo de vida vai desde o ovo, passando por
          quatro
          estádios larvais, pupa e o adulto alado. As fêmeas de <i>Aedes aegypti</i> preferem se alimentar de sangue
          humano
          através da picada, dentro do domicílio e preferivelmente no amanhecer ou antes do crepúsculo, põem seus ovos
          grudados nas paredes internas dos depósitos com água, que podem sobreviver secos no ambiente por até um ano.
        </p>

        <h3>Você sabia que um ovo <i>Aedes aegypti</i> demora entre 7 e 10 dias para virar um mosquito adulto? Veja o
          seu ciclo
          de vida.</h3>

        <img src="assets/images/modulo1/aula1/img2.png"
          alt="Desenho que descreve o ciclo de vida do mosquito aedes aegypti, com informações ao lado de cada fase, começando a partir dos ovos, quando os ovos se encontram em meio aquoso ocorre o processo de incubação, que pode durar de alguns dias a meses, seguindo para larva, elas vivem na água e se convertem em pupas em apenas cinco dias, quando tornam-se pupas elas vivem na água e demoram dois dias para se transformarem em mosquitos adultos, por último tornam-se adultos, onde a fêmea deposita seus ovos em qualquer recipiente que contenha água, então o ciclo recomeça a partir dos ovos."
          class="imagem img-fluid">

        <p>Outra espécie de mosquito presente na região das Américas é o mosquito Aedes albopictus que tem hábitos
          similares, porém se alimenta de sangue de diversos animais, fora do domicílio e deposita ovos em diversos
          recipientes, tanto artificiais como naturais. Esta espécie pode se estabelecer em zonas temperadas e pode ser
          a
          ponte dos vírus que circulam no ambiente silvestre para o ambiente urbano.</p>
      </div>

      <div class="row curiosidade">
        <div class="col-md-2">
          <img src="assets/images/icones/curiosidade.png" alt="Curiosidade" class="img-fluid">
        </div>
        <div class="col-md-10">
          <h3>CURIOSIDADE</h3>
          <hr>
          <p><b>Você já ouviu falar em “mosquito tigre asiático”?</b></p>
          <p>O <i>Aedes albopictus</i> também é conhecido como “mosquito tigre asiático”. Essa é uma
            espécie
            que
            vem do sudeste asiático, onde é vetor principal da dengue. Apesar de ter sido encontrado infectado
            naturalmente com vírus Dengue nas Américas, até agora, não tem sido incriminado em alguma epidemia da
            região.
          </p>
        </div>
      </div>

      <div class="conteudo">
        <p>A situação epidemiológica e entomológica no mundo, tem aumentado o risco de ocorrência de surtos de doenças
          emergentes e reemergentes e a velocidade de circulação delas, associadas principalmente aos determinantes e
          condicionantes da saúde, às desigualdades, às migrações e a alta mobilidade populacional nas últimas décadas.
        </p>

        <div class="row saibaMais">
          <div class="col-md-2 centro">
            <img src="assets/images/icones/saibaMais.png" alt="Saiba mais" class="img-fluid">
          </div>
          <div class="col-md-10">
            <h3>SAIBA MAIS</h3>
            <p>Para mais informações sobre a biologia e seu papel na transmissão das diferentes
              arboviroses,
              <u>assista ao vídeo “Conhecendo os mosquitos <i>Aedes</i> - transmissores de arbovírus”</u>, criado pelo
              Instituto Oswaldo
              Cruz da FIOCRUZ.
            </p>
          </div>
        </div>

        <h2>História do controle de <i>Aedes aegypti</i> no Brasil</h2>

        <p>As primeiras populações de <i>Aedes aegypti</i> foram introduzidas nas Américas no período colonial no século
          XVI,
          possivelmente através dos barris de armazenamento de água presentes nos navios que traficavam escravos desde o
          continente africano. Em 1930 e 1940 se intensificaram campanhas de erradicação na América Latina pela
          Organização Pan-Americana da Saúde – OPAS e a Organização Mundial da Saúde – OMS, e <i>Aedes aegypti</i>
          chegou
          a ser
          erradicado no Brasil em 1955 e na mesma década em outros países da região, mas em 1976, sua presença foi
          novamente registrada no Brasil e o número de municípios infestados continuou crescendo. Atualmente, <i>Aedes
            aegypti</i> está presente em aproximadamente 95% dos municípios brasileiros.</p>

        <p>Diante desse cenário, a luta contra o mosquito no Brasil foi fortalecida através de vários planos de
          erradicação do vetor desde 1990, como o Plano de Erradicação do <i>Aedes aegypti</i> (PEAa), coordenado pela
          Fundação
          Nacional de Saúde (FUNASA), e em 1996 com o Plano de Erradicação do <i>Aedes aegypti</i> (PEAa), que
          recomendava
          a
          atuação multissetorial e utilizou um modelo descentralizado com a participação das três esferas de governo.
        </p>

        <p>Desde 2000, o Programa Nacional de Controle da Dengue (PNCD), voltado a ações de controle do mosquito, fez
          ênfase na melhoria da qualidade do trabalho de campo dos agentes, das condições sanitárias (coleta de lixo,
          saneamento básico, armazenamento de água) e a implementação de instrumentos legalizados para vistoria e
          eliminação de criadouros.</p>

        <p>No Brasil, o principal objetivo dos programas de controle é reduzir as populações de insetos que transmitem
          agentes etiológicos, desse modo eliminando potenciais criadouros usando inseticidas ou larvicidas. Os Agentes
          Comunitários de Saúde (ACS) e Agentes de Combate às Endemias (ACE), juntamente com a população, são
          responsáveis
          por auxiliar esses programas de controle vetorial. As estratégias de controle vetorial são divididas
          principalmente no controle mecânico, que consiste no trabalho prático realizado pelos ACE e no controle
          químico,
          que consiste na aplicação de diferentes inseticidas para matar larvas, pupas e mosquitos <i>Aedes</i>.</p>

        <h3>Entre os tipos de controle vetorial mais comuns, temos:</h3>

        <!-- Abas -->
        <nav>
          <div class="nav nav-tabs" id="nav-tab">
            <a class="nav-item nav-link active" id="nav-1-tab" data-toggle="tab" data-target="#nav-1"
              aria-controls="nav-1" aria-selected="true">Controle <br>Mecânico</a>
            <a class="nav-item nav-link" id="nav-2-tab" data-toggle="tab" data-target="#nav-2" aria-controls="nav-2"
              aria-selected="false">Controle <br>Biológico</a>
            <a class="nav-item nav-link" id="nav-3-tab" data-toggle="tab" data-target="#nav-3" aria-controls="nav-3"
              aria-selected="false">Controle <br>Químico</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">

          <div class="tab-pane fade show active" id="nav-1" aria-labelledby="nav-1-tab">
            <br>
            <p>Envolve a busca ativa de depósitos com água, capazes de servir como criadouros para as formas imaturas de
              Aedes, bem como a proteção, destruição ou destinação adequada de depósitos com águas, drenagem de
              reservatórios e instalação de telas em portas e janelas.</p>
          </div>

          <div class="tab-pane fade" id="nav-2" aria-labelledby="nav-2-tab">
            <br>
            <p>Baseia-se no uso de predadores ou patógenos capazes de reduzir as populações de vetores. Alguns exemplos
              de
              controle biológico, temos predadores como peixes (<i>Gambussia sp.</i>) e invertebrados aquáticos
              (copépodos), bem como de toxinas produzidas por fungos (entomopatogênicos) e bactérias (<i>Bacillus
                thuringiensis israelensis).</i></p>
          </div>

          <div class="tab-pane fade" id="nav-3" aria-labelledby="nav-3-tab">
            <br>
            <p>Utiliza inseticidas de origem orgânica ou inorgânica, sendo uma das estratégias mais utilizadas como
              parte
              do manejo sustentável e integrado para o controle de vetores em Saúde Pública. Entre os grupos mais
              conhecidos de inseticidas de controle encontramos os organoclorados (OC), os organofosforados (OP),
              carbamatos, piretroides (PI) e os reguladores de crescimento de insetos (IGR).</p>
          </div>
        </div>
        <!-- Fim das Abas -->

        <!-- Botão Início Aula 2 -->
        <div class="row" id="botao">
          <button class="btn btn-sm" id="botaoVoltar" role="button" aria-pressed="true" alt="Voltar"
            (click)="voltar()"><strong>VOLTAR</strong></button>
          <button class="btn btn-sm" id="botaoAvancar" role="button" aria-pressed="true" alt="Começar curso"
            (click)="ir()">
            <strong>AVANÇAR</strong>
          </button>
        </div>
      </div>
      <!-- Rodapé -->
      <app-rodape></app-rodape>
    </div>
  </div>
</section>