<section id="10">
    <!-- Toolbar -->
    <app-menu-superior></app-menu-superior>

    <div class="row" id="row-main">
        <!-- Sidebar -->
        <div class="col-md-2" id="sidebar">
            <app-menu-lateral></app-menu-lateral>
        </div>

        <div class="col-md-10" id="content">
            <!-- Introdução -->
            <div class="conteudo">
                <h1>Supervisão da EDL</h1>

                <p>Periodicamente, o gestor ou o profissional encarregado da implantação da estratégia no município,
                    realizará a supervisão das áreas de intervenção pelo menos nos 10% das EDL implantadas, com a
                    finalidade de avaliar a qualidade da operação e percepção da população da estratégia.</p>
            </div>

            <div class="row blocoTexto">
                <p><b>Esta atividade é muito importante para a retroalimentação da operação, a solução oportuna das
                        intercorrências no campo e otimizar a estratégia operacional no tempo.</b></p>
            </div>


            <div class="conteudo">

                <h3>Registro de supervisão de estações disseminadoras de larvicida. Passe o mouse sobre os números para
                    conhecer as informações de supervisão das EDL’s</h3>

                <img src="assets/images/modulo2/aula4/img1.png" alt="Planilha de Controle"
                    class="img-fluid imagem-mapeada" usemap="#image-map">

                <map name="image-map">
                    <area *ngFor="let area of areas" [coords]="area.coords" [title]="area.title" shape="circle"
                        (mouseover)="showTooltip(area.title)" (mouseout)="hideTooltip()">
                </map>

                <!-- Botão Início Aula 1 -->
                <div class="row" id="botao">
                    <button class="btn btn-sm" id="botaoVoltar" role="button" aria-pressed="true" alt="Voltar"
                        (click)="voltar()"><strong>VOLTAR</strong></button>
                    <button class="btn btn-sm" id="botaoAvancar" role="button" aria-pressed="true" alt="Começar curso"
                        (click)="ir()">
                        <strong>AVANÇAR</strong>
                    </button>
                </div>
            </div>
            <!-- Rodapé -->
            <app-rodape></app-rodape>
        </div>
    </div>
</section>