nav {
  background-color: #EBE6E2;
  padding-top: 32px;
  padding-left: 8px;
  width: 16.667%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  overflow: auto;
  display: block;
}

::-webkit-scrollbar {
  width: 4px;
  background: #F4F4F4;
}

ul {
  padding: 0;
  margin: 0;
}

.sectionTitle mat-icon {
  font-size: 4px !important;
  height: 4px;
  width: 4px;
  position: absolute;
  margin-left: 22px;
  margin-top: 8px;
}

.listaMenu {
  padding-bottom: 150px;
}

a {
  text-decoration: none;
  color: #333;
  padding: 0px 8px;
  display: block;
  cursor: pointer;
  font-size: 14px;
  padding-left: 2rem;
}
.introducao {
  padding-top: 0px !important;
}

a.tituloLista {
  padding-top: 22px;
  margin: 0px;
  font-weight: bold;
  padding-left: 8px;
}

/* Stepper */
.barraStepper {
  background-color: #D5CFCF;
  width: 4px;
}

.sectionTitle {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.barraStepper.active {
  background-color: #2F6C48;
}

/* Botões */
#sidebarButton {
  position: fixed;
  background-color: #EBE6E2;
  border-radius: 0 0 5px 0;
  padding: 0px !important;
  margin-left: 16.667%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 35px;
  width: 35px;
  z-index: 2;
}

#sidebarButton.open {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-left: 0 !important;
}

/* Botão fixo no conteúdo apos recolher*/
#sidebarButton2 {
  position: fixed;
  background-color: #EBE6E2;
  border-radius: 0 0 5px 0;
  padding: 0% !important;
  margin-left: 50%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 35px;
  width: 35px;
  z-index: 2;
}

#sidebarButton2 img {
  margin-bottom: 0px !important;
}

#sidebarButton2.open {
  margin-left: 0px !important;
}

/* Recolhe Sidebar */
@media (max-width: 980px) {
  nav {
    width: 50% !important;
  }

  #sidebarButton {
    display: none;
  }

  .esconder {
    display: none;
  }
}

@media (min-width: 980px) {
  .esconder {
    display: block;
    margin-left: -16.6667%;
  }

  #sidebarButton2 {
    display: none;
  }
}