<!-- Botão p/ Recolher Sidebar-->
<span id="sidebarButton" (click)="abrirMenu()"><mat-icon>keyboard_arrow_left</mat-icon></span>

<!-- Botão Secundário p/ Recolher Sidebar -->
<span id="sidebarButton2" (click)="abrirMenu()"><img style="max-width: 50%;" src="assets/images/icones/icone.png"
    alt="Botão do Menu Lateral"></span>

<nav id="menuLateral">
  <ul class="listaMenu">
    <li *ngFor="let section of sections" #menuLateral>
      <div class="row">
        <div class="barraStepper" [class.active]="isSectionInView(section)"></div>
        <div class="sectionTitle">
          <p [ngClass]="{'tituloLista': subItem(section)}">
            <a (click)="goToSection(section)"><mat-icon *ngIf="!subItem(section)">circle</mat-icon>
              {{ section.title }}</a>
          </p>
        </div>
      </div>
    </li>
  </ul>
</nav>