<section id="0">
    <!-- Toolbar -->
    <app-menu-superior></app-menu-superior>

    <div class="row" id="row-main">
        <!-- Sidebar -->
        <div class="col-md-2" id="sidebar">
            <app-menu-lateral></app-menu-lateral>
        </div>

        <div class="col-md-10" id="content">
            <!-- Introdução -->
            <div class="conteudo">
                <h1>Introdução</h1>

                <p>Antes de começarmos, vamos entender um pouco sobre o comportamento dos mosquitos <i>Aedes</i> e as
                    arboviroses
                    transmitidas por eles que constituem graves problemas de saúde pública. Como vocês vêm observando,
                    nessa
                    última
                    década, as consecutivas epidemias de dengue, chikungunya, Zika e a associação entre a infecção e
                    lesões
                    severas
                    do sistema nervoso, como a síndrome congênita do Zika, levaram à declaração de emergência
                    (internacional
                    e
                    nacional) de saúde pública. Do mesmo modo, um dos principais problemas das ferramentas convencionais
                    de
                    controle
                    de <i>Aedes aegypti</i> e <i>Ae. albopictus</i> é a dificuldade em se encontrar e tratar os
                    diferentes
                    tipos
                    de
                    criadouros,
                    acarretando uma baixa cobertura das atividades de controle larvário, seja por métodos mecânicos ou
                    químicos.
                    Essas espécies usam frequentemente criadouros crípticos, ou seja, muito difíceis de se detectar
                    pelos
                    <b><u>profissionais de campo</u></b>, ou situados em locais inacessíveis (incluindo prédios
                    fechados).
                </p>

                <p>Na ausência de vacinas eficazes, disponíveis e de tratamento etiológico específico para as principais
                    arboviroses, bem como as limitações das estratégias convencionais de controle vetorial, o Ministério
                    da
                    Saúde,
                    com o apoio da OPAS, vêm incentivando pesquisas necessárias para o desenvolvimento de novas
                    alternativas
                    para o
                    controle de <i>Aedes</i>.</p>
            </div>

            <!-- BLOCO DE TEXTO MARROM -->
            <div class="row voceSabia">
                <div class="col-md-2">
                    <img class="centro img-fluid" src="../../../assets/images/icones/voceSabia.png" alt="Você sabia?">
                </div>
                <div class="col-md-10">
                    <p class="pinfo">VOCÊ SABIA?</p>
                    <p class="pinfo">A primeira Reunião Internacional para Avaliação de Novas Estratégias para o
                        Controle do <i>Aedes
                            aegypti</i>
                        no Brasil ocorreu em 2016, foram recomendadas diferentes estratégias para serem consideradas no
                        contexto das grávidas, para pesquisas estratégicas e para serem inseridas nas diretrizes do
                        Plano
                        Nacional de Controle da Dengue. Neste último contexto, recomendou-se o uso de <b>Estações
                            Disseminadoras de Larvicida (EDL)</b> entre as tecnologias inovadoras para inclusão nas
                        diretrizes do
                        Plano Nacional de Controle da Dengue (SVS–MS 2016).</p>
                </div>
            </div>

            <div class="conteudo">
                <p>Agora, você irá conhecer as orientações técnicas para a implantação e manutenção de Estações
                    Disseminadoras
                    de
                    Larvicida (EDL) para o controle de <i>Aedes</i> spp., em áreas urbanas, principalmente para o
                    pessoal
                    operacional e de
                    gestão dos programas de prevenção e controle de doenças transmitidas por <i>Aedes</i>, nas
                    diferentes
                    escalas e
                    realidades do Brasil.</p>

                <!-- Botão Início Aula 1 -->
                <div class="row" id="botao">
                    <button class="btn btn-sm" id="botaoVoltar" role="button" aria-pressed="true" alt="Voltar"
                        (click)="voltar()"><strong>VOLTAR</strong></button>
                    <button class="btn btn-sm" id="botaoAvancar" role="button" aria-pressed="true" alt="Começar curso"
                        (click)="ir()">
                        <strong>AVANÇAR</strong>
                    </button>
                </div>
            </div>
            <!-- Rodapé -->
            <app-rodape></app-rodape>
        </div>
    </div>
</section>