label {
    color: #9A7265;
}

input {
    height: 20px;
    width: 20px;
    border-radius: 100px;
    border: 1px solid;
    margin-right: 1rem;
    margin-top: 2px;
}

.resposta-correta {
    color: #0ABC3A !important;
}

.resposta-incorreta {
    color: #F8062C !important;
}

.alternativas {
    margin-top: 14px;
}