<app-menu-superior></app-menu-superior>
<div class="row" id="row-main">
    <div class="col-md-2" id="sidebar">
        <app-menu-lateral></app-menu-lateral>
    </div>
    <div class="col-md-10" id="content">
        <div class="conteudo">

            <h1>Créditos</h1>
            <h2>Ministério da Saúde</h2>

            <p>Marcelo Queiroga</p>
            <i>Ministro</i>

            <h2>Fundação Oswaldo Cruz – Fiocruz</h2>

            <p>Nísia Trindade Lima</p>
            <i>Presidente</i>

            <h2>Vice-Presidência de Educação, Informação e Comunicação (VPEIC)</h2>

            <p>Cristiani Vieira Machado</p>
            <i>Vice-Presidente</i>

            <h2>Campus Virtual Fiocruz</h2>

            <p>Ana Cristina da Matta Furniel</p>
            <i>Coordenadora Geral</i>

            <p>Adélia Araújo</p>
            <i>Coordenadora de Produção</i>

            <h2>Pessoa Idosa e a Covid-19: Prevenção e Cuidados em Domicílio</h2>

            <p>
                <u>Coordenação Acadêmica</u>
            </p>

            <ul>
                <p>Dalia Helena Romero</p>
                <i>Socióloga. Demógrafa. Doutora em Saúde Pública. Professora Pesquisadora do ICICT/ Fiocruz.
                    Coordenadora do Grupo de Informação e Envelhecimento (GISE/ LIS).</i>

                <p>José Luiz Telles - Adjunto</p>
                <i>Médico, Doutor em Ciências pela Ensp, pesquisador do Departamento de Administração e Planejamento
                    em Saúde da ENSP/Fiocruz. Coordenador do Curso de Especialização em Envelhecimento e Saúde da
                    Pessoa Idosa.</i>
            </ul>

            <p><u>Conteudistas</u></p>

            <ul>
                <p>Dália Elena Romero</p>
                <i>Socióloga. Demógrafa. Doutora em Saúde Pública. Professora Pesquisadora do ICICT/ Fiocruz.
                    Coordenadora do Grupo de Informação e Envelhecimento (GISE/ LIS).</i>

                <p>José Luiz Telles - Adjunto</p>
                <i>Médico, Doutor em Ciências pela Ensp, pesquisador do Departamento de Administração e Planejamento
                    em Saúde da ENSP/Fiocruz. Professor Visitante da Escola Nacional de Saúde Pública da
                    Universidade Nova de Lisboa.</i>

                <p>Ana Paula Borges</p>
                <i>Assistente Social, Gerontóloga. Mestre em gerontologia pela Universidade Católica de
                    Brasília.</i>

                <p>Letícia Sampaio Figueiredo</p>
                <i>Fonoaudióloga, especialista em Gerontologia.</i>
            </ul>

            <p><u>Revisão Técnica</u></p>

            <ul>
                <p>Ana Paula Borges</p>
                <i>Assistente Social, Gerontóloga. Mestre em Gerontologia pela Universidade Católica de
                    Brasília.</i>
            </ul>

            <p><u>Revisão de Português</u></p>

            <ul>
                <p>Maria Angélica Marcondes Drska - Campus Virtual Fiocruz</p>
            </ul>

            <p><u>Design Educacional</u></p>

            <ul>
                <p>Fernanda Sousa - Campus Virtual Fiocruz</p>
                <i>Pedagoga, Especialista em Planejamento, Implementação e Gestão de Educação a Distância e
                    Especialista em Gestão de Projetos.</i>
            </ul>

            <p><u>Interface</u></p>

            <ul>
                <p>Daniela Fontinele</p>
                <i>UI/UX Designer e Designer de Experiência de Aprendizagem Online.</i>

                <p>Eberthyn Marques</p>
                <i>Desenvolvedor</i>
            </ul>

            <p><u>Suporte Técnico de Tecnologia da Informação</u></p>

            <ul>
                <p>Bruno Alexandre de Oliveira - Campus Virtual Fiocruz</p>
                <i>Desenvolvedor</i>

                <p>Eduardo Xavier da Silva - Campus Virtual Fiocruz</p>
                <i>Desenvolvedor</i>

                <p>Adriano Lourenço - Campus Virtual Fiocruz</p>
                <i>Analista de Suporte</i>

                <p>Orlando Terra - Campus Virtual Fiocruz</p>
                <i>Analista de Suporte</i>
            </ul>

            <p><u>Recursos Educacionais</u></p>

            <ul>
                <p>Carmélia Brito - Campus Virtual Fiocruz</p>
                <i>Bibliotecária</i>

                <p>Rosane Mendes - Campus Virtual Fiocruz</p>
                <i>Coordenadora Plataforma Educare</i>
            </ul>

            <p><u>Recursos Audiovisuais</u></p>

            <ul>
                <p>Teo Venerando - Campus Virtual Fiocruz</p>
                <i>Edição de Vídeo</i>
            </ul>

        </div>
        <!-- Rodapé -->
        <app-rodape></app-rodape>
    </div>
</div>