<!-- Menu Superior -->
<app-menu-superior></app-menu-superior>
<div class="row" id="row-main">
    <!-- Menu Lateral -->
    <div class="col-md-2" id="sidebar">
        <app-menu-lateral></app-menu-lateral>
    </div>
    <!-- Conteúdo -->
    <div class="col-md-10" id="content">
        <div class="conteudo">

            <h1>Créditos</h1>
            <h2>Ministério da Saúde</h2>

            <p>Nísia Trindade Lima</p>
            <i>Ministra</i>

            <h2>Fundação Oswaldo Cruz – Fiocruz</h2>

            <p>Mario Moreira</p>
            <i>Presidente</i>

            <p>Cristiani Vieira Machado</p>
            <i>Vice-Presidência de Educação, Informação e Comunicação (VPEIC)</i>

            <h2>Campus Virtual Fiocruz</h2>

            <p>Ana Cristina da Matta Furniel</p>
            <i>Coordenadora Geral</i>

            <p>Rosane Mendes</p>
            <i>Coordenadora Adjunta</i>

            <p>Adélia Araújo</p>
            <i>Coordenadora de Produção</i>

            <p>Renata Bernardes David</p>
            <i>Gerente de produção</i>

            <p>Isabela Schincariol</p>
            <i>Assessora de comunicação</i>

            <p>Roberta Saboya</p>
            <i>Designer Educacional</i>

            <p>Daniela Botelho</p>
            <i>Designer UX/UI</i>

            <p>Eberthyn Marques</p>
            <i>Desenvolvedor</i>

            <p><b>Recursos Audiovisuais</b></p>

            <p>Teo Venerando</p>
            <i>Edição Audiovisual</i>

            <p><b>Recursos Educacionais</b></p>

            <p>Carmélia Brito</p>
            <i>Bibliotecária</i>

            <p>Natália Rasina</p>
            <i>Audiodescrição</i>

            <p>Maria Angélica Marcondes Drska</p>
            <i>Revisão de Português</i>

            <p><b>Suporte Técnico de Tecnologia da Informação</b></p>

            <p>Bruno Alexandre de Oliveira</p>
            <i>Desenvolvedor</i>

            <p>Eduardo Xavier da Silva</p>
            <i>Desenvolvedor</i>

            <p>Adriano Lourenço</p>
            <i>Analista de suporte</i>

            <p>Orlando Terra</p>
            <i>Analista de suporte</i>

            <h2>Coordenação do projeto</h2>

            <p>Sérgio Luiz Bessa Luz</p>
            <i>Coordenador geral</i>
            <p>Possui graduação em Ciências Biológicas pela Universidade Gama Filho (1987), mestrado em Ciências
                Veterinárias pela Universidade Federal Rural do Rio de Janeiro (1994) e doutorado em Biologia
                Parasitária pela Fundação Oswaldo Cruz (1999). Atualmente é pesquisador do Instituto Leônidas & Maria
                Deane da Fundação Oswaldo Cruz – ILMD/Fiocruz Amazônia, no Núcleo de Patógenos, Reservatórios e Vetores
                na Amazônia – PReV Amazônia do Laboratório de Ecologia de Doenças Transmissíveis na Amazônia. Tem
                experiência na área de Parasitologia, com ênfase em Entomologia Médica, atuando principalmente em
                taxonomia integrada de parasitas e vetores de filarioses na Amazônia e estratégias de controle vetorial
                de <i>Aedes</i>.</p>

            <p>José Joaquín Carvajal Cortés</p>
            <i>Coordenador adjunto</i>
            <p>Possui graduação em Biologia pela Universidad Nacional de Colombia (2004), mestrado (2013) e doutorado
                (2018) em Ciências (Medicina Tropical) pela Fundação Oswaldo Cruz. Atualmente está desenvolvendo
                projetos de pesquisa no Instituto Leônidas & Maria Deane da Fundação Oswaldo Cruz – ILMD/Fiocruz
                Amazônia, no Núcleo de Patógenos, Reservatórios e Vetores na Amazônia – PReV Amazônia do Laboratório de
                Ecologia de Doenças Transmissíveis na Amazônia. Tem experiência na área de biologia e ecologia de
                mosquitos vetores, controle vetorial e epidemiologia de doenças infecciosas, com ênfase nos
                determinantes socioambientais de doenças transmitidas por vetores nas fronteiras internacionais da
                Região Amazônica.</p>

            <h2>Conteudistas</h2>

            <p>José Joaquín Carvajal Cortés</p>
            <i>ILMD-FIOCRUZ Amazônia</i>

            <h2>Revisão Técnica</h2>

            <p>Akemi Fuonke</p>
            <i>Enfermeira, mestre em Saúde Coletiva e especialista em Vigilância Epidemiológica, Processos Educacionais
                na Saúde com Ênfase em Tecnologias Educacionais Construtivistas e Mediação de Processos Educacionais na
                Modalidade Digital. Ex-diretora do Grupo de Vigilância Epidemiológica do Departamento Regional de Saúde
                de Marília (SES-SP)</i>


            <p>Alciles Pereira Comape</p>
            <i>Técnico em Vigilância em Saúde. Chefe da Divisão de Controle de Doenças
                Transmitidas por Vetores (DIVDTV) da Diretoria de Vigilância Epidemiologia, Ambiental, Zoonoses e da
                Saúde do Trabalhador (DVAE) da Secretaria Municipal de Saúde de Manaus-AM</i>


            <p>Carlos Alberto dos Santos Barbosa</p>
            <i>Técnico em Epidemiologia. Especialista em vigilância epidemiologia
                das doenças Transmissíveis. Chefe do Núcleo de Controle de Endemias da Célula de Vigilância ambiental de
                Fortaleza-CE.</i>

            <p>Ducicleide Rodrigues da Silva</p>
            <i>Bióloga. Agente de Combate às Endemias. Diretoria de Vigilância em
                Zoonoses. Secretaria Municipal de Saúde de Goiânia-GO.</i>

            <p>Edvaldo Raimundo Nazaré da Rocha</p>
            <i>Técnico em Endemias do Ministério da Saúde. Chefe do Núcleo de
                Controle de Agravos Transmitidas por <i>Aedes</i> (NUCATA) da Diretoria de Vigilância Epidemiologia, Ambiental,
                Zoonoses e da Saúde do Trabalhador (DVAE) da Secretaria Municipal de Saúde de Manaus-AM</i>

            <p>José Antonio Pereira Barreto</p>
            <i>Técnico em Epidemiologia. Orientador da Célula de Resposta às
                Emergências - CEREM da Secretária Estadual de Saúde do Ceará – SESA</i>

            <p>Márcia Cristina Bernardo de Melo Moura</p>
            <i>Técnica de Vigilância em saúde. Chefe do Núcleo de Vigilância Entomológica (NVE) da Unidade de Vigilância
                de Zoonoses da Secretaria Municipal de Saúde de Natal-RN</i>

            <p>Pamela Cristina de Souza Garcia</p>
            <i>Tecnóloga em processos gerenciais. Supervisora de saúde da Divisão de Zoonoses da Secretaria Municipal de
                Saúde de Marília-SP.</i>

            <p>Vania do Nascimento Nunes</p>
            <i>Bióloga/Sanitarista. Mestre em Saúde Pública. Servidora municipal desde 2003 na área de entomologia
                médica. Gerente de Vigilância Ambiental e Controle de Zoonoses da Secretaria Municipal de Saúde de
                Recife-PE.</i>

            <p>Welington Tristão da Rocha</p>
            <i>Biólogo. Gerente de Controle de Animais Sinantrópicos. Diretoria de Vigilância em Zoonoses.
                Secretaria Municipal de Saúde de Goiânia-GO.</i>

            <!-- Botão de Navegação -->
            <div class="row" id="botao">
                <button class="btn btn-sm" id="botaoVoltar" role="button" aria-pressed="true" alt="Voltar"
                    (click)="voltar()"><strong>VOLTAR</strong></button>
            </div>
        </div>
        <!-- Rodapé -->
        <app-rodape></app-rodape>
    </div>
</div>