<section id="7">
    <!-- Toolbar -->
    <app-menu-superior></app-menu-superior>

    <div class="row" id="row-main">
        <!-- Sidebar -->
        <div class="col-md-2" id="sidebar">
            <app-menu-lateral></app-menu-lateral>
        </div>

        <div class="col-md-10" id="content">
            <!-- Introdução -->
            <div class="conteudo">
                <h1>Implantação da EDL</h1>

                <p>Para realizar a implantação das EDL nos locais onde existem possíveis focos para a reprodução dos
                    mosquitos, a instalação das EDL’s nos imóveis dependerá, em primeiro lugar, da aceitação por parte
                    do responsável do imóvel. Se o responsável aceitar, o profissional de campo deve informar todos os
                    detalhes relevantes da estratégia das EDL, os compromissos e responsabilidades. Se o responsável não
                    aceitar, o procedimento será repetido nas casas adjacentes.</p>

                <h3>Veja a seguir como ocorre o procedimento de montagem da Estação Disseminadora de Larvicida.</h3>

                <img src="assets/images/modulo2/aula1/img1.png" alt="Passo a Passo"
                    class="img-fluid centro">

                <p>Agora que a estação está preparada, é preciso realizar a aplicação do larvicida.</p>

                <div class="row">
                    <div class="col-md-8">
                        <img src="assets/images/modulo2/aula1/img2.png" alt="Pessoa preparando"
                            class="img-fluid">
                    </div>
                    <div class="col-md-4 centro">
                        <p>No copo coletor, colocar 5 gramas de piriproxifem micronizado utilizando a colher medidora,
                            segundo o tamanho da colher medidora adquirida. Adicionar gotas de água aos poucos e
                            misturar até que a consistência fique pastosa.</p>
                    </div>
                </div>

                <h3>Confira a seguir a dose de piriproxifem micronizado recomendada, de acordo ao tamanho da colher
                    medidora.</h3>

                <img src="assets/images/modulo2/aula1/img3.png" alt="Dosagens" class="img-fluid centro">

                <div class="row">
                    <div class="col-md-8">
                        <img src="assets/images/modulo2/aula1/img4.png" alt="Pote em preparação"
                            class="img-fluid">
                    </div>
                    <div class="col-md-4 centro">
                        <p>Aplicar uniformemente o piriproxifem micronizado e umedecido no tecido, na parte externa,
                            interna e na borda, evitando que fique com partículas grossas.</p>
                    </div>
                </div>

                <div class="row saibaMais">
                    <div class="col-md-2"><img src="assets/images/icones/especialista.png"
                            alt="Palavra do Especialista"></div>
                    <div class="col-md-10">
                        <p><b>PALAVRA DO ESPECIALISTA</b></p>
                        <p><b>Ficou com dúvidas na preparação da EDL? Assista ao vídeo do especialista.</b></p>

                        <!-- Video 1 -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <video width="560" height="315" class="embed-responsive-item" controls>
                                <source src="https://educare.fiocruz.br/file-storage/XPAj2P4I" type="video/mp4"
                                    frameborder="0" allow="encrypted-media" allowfullscreen="allowfullscreen">
                            </video>
                        </div>
                        <small class="text-muted">Crédito Vídeo</small>
                    </div>
                </div>

                <p>Atenção para a aplicação do larvicida no tecido da EDL:</p>

                <!-- SLIDER -->
                <!-- Card Slider 1 -->
                <div class="row centro">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">

                            <!-- Card 1 -->
                            <div class="carousel-item active">

                                <div class="card sliderCard">
                                    <div class="card-body">
                                        <img class="img-fluid"
                                            src="assets/images/modulo2/aula1/imgSlider1.png" alt="">
                                    </div>
                                </div>

                            </div>
                            <!-- Fim do Card 1 -->

                            <!-- Card 2 -->
                            <div class="carousel-item">
                                <div class="card sliderCard">
                                    <div class="card-body">
                                        <img class="img-fluid"
                                            src="assets/images/modulo2/aula1/imgSlider2.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- Fim do Card 2 -->

                            <!-- Card 3 -->
                            <div class="carousel-item">
                                <div class="card sliderCard">
                                    <div class="card-body">
                                        <img class="img-fluid"
                                            src="assets/images/modulo2/aula1/imgSlider3.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- Fim do Card 3 -->

                            <a class="carousel-control-prev" data-target="#carouselExampleIndicators" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                                <span class="sr-only">Anterior</span>
                            </a>
                            <a class="carousel-control-next" data-target="#carouselExampleIndicators" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                                <span class="sr-only">Próximo</span>
                            </a>

                        </div>
                    </div>
                </div>
                <!-- Fim Card Slider 1 -->

                <div class="row">
                    <div class="col-md-8">
                        <img src="assets/images/modulo2/aula1/img5.png" alt="Área para instalação"
                            class="img-fluid">
                    </div>
                    <div class="col-md-4 centro">
                        <p>Depois da montagem finalizada, as EDL’s estão prontas para serem instaladas em áreas
                            externas, como pátios, varandas, garagens ou terrenos fechados, e também dentro das
                            residências, em cozinhas e área de serviço, por exemplo.</p>
                    </div>
                </div>

                <p>Para uma maior eficácia, é importante que o local onde a EDL for depositada possua as seguintes
                    condições:</p>

                <div class="row">
                    <div class="col-sm-3">
                        <img src="assets/images/modulo2/aula1/img6.png" alt="" class="img-fluid">
                        <p class="centro">Ambiente de sombra e protegido da chuva e do sol, mas não fechado</p>
                    </div>
                    <div class="col-sm-3">
                        <img src="assets/images/modulo2/aula1/img7.png" alt="" class="img-fluid">
                        <p class="centro">Preferentemente no peridomicílio ou área externa (quintais, lavanderias, áreas
                            de serviço, garagens, varandas, etc)</p>
                    </div>
                    <div class="col-sm-3">
                        <img src="assets/images/modulo2/aula1/img8.png" alt="" class="img-fluid">
                        <p class="centro">Instalação da EDL a uma altura não superior a 1,50 m.</p>
                    </div>
                    <div class="col-sm-3">
                        <img src="assets/images/modulo2/aula1/img9.png" alt="" class="img-fluid">
                        <p class="centro">Fora do alcance de crianças e animais, para evitar que virem ou danifiquem a
                            EDL</p>
                    </div>
                </div>

                <p>Importante ressaltar que as <b>EDL’s não apresentam risco aos residentes nem aos animais de estimação
                        dos imóveis onde são instaladas</b>, mas os agentes de combate às endemias (ACE) ou o
                    profissional encarregado, devem repassar algumas orientações importantes para a manutenção das
                    Estações Disseminadoras de Larvicida (EDL).</p>

                <h3>Orientações para manutenção da EDL</h3>

                <!-- ACCORDION -->
                <!-- Accordion 1 -->
                <div class="accordion">

                    <!-- Accordion card 1-->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header" id="headingOne1">
                            <a class="collapsed" data-toggle="collapse" data-target="#collapseOne1"
                                aria-expanded="false" aria-controls="collapseOne1">

                                <p class="pinfo">Visitas recorrentes do profissional de campo<i
                                        class="fas fa-caret-up caretDown"></i></p>

                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapseOne1" class="collapse" aria-labelledby="headingOne1">
                            <div class="card-body">
                                <p>Informe ao residente do imóvel que, uma vez por mês, o profissional de campo visitará
                                    o imóvel onde está instalada a Estação Disseminadora de Larvicida, para verificar o
                                    nível de água, o estado da EDL e aplicar (re-impregnar) mais piriproxifem
                                    micronizado e umedecido no tecido.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Accordion card 2 -->
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header" id="headingTwo2">
                            <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo2"
                                aria-expanded="false" aria-controls="collapseTwo2">

                                <p class="pinfo">Manutenção com água<i class="fas fa-caret-up caretDown"></i></p>

                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2">
                            <div class="card-body">
                                <p>O residente deverá ser informado que precisará revisar, semanalmente, a EDL e
                                    completar com água quando for necessário. Lembrar de não jogar água no tecido,
                                    somente no centro da EDL para não lavar o piriproxifem impregnado.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Accordion card 3 -->
                    <div class="card" style="margin-bottom: 30px;">

                        <!-- Card header -->
                        <div class="card-header" id="headingThree3">
                            <a class="collapsed" data-toggle="collapse" data-target="#collapseThree3"
                                aria-expanded="false" aria-controls="collapseThree3">

                                <p class="pinfo">Comunicação da presença da EDL no imóvel<i
                                        class="fas fa-caret-up caretDown"></i></p>

                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapseThree3" class="collapse" aria-labelledby="headingThree3">
                            <div class="card-body">
                                <p>O profissional de campo deverá lembrar ao residente de comunicar aos outros moradores
                                    do imóvel sobre as EDL’s instaladas para evitar atrasos na manutenção da EDL por
                                    parte do profissional de campo, descarte da EDL ou utilização da EDL para outros
                                    fins.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fim Accordion 1 -->



                <p>No momento da implantação é necessário preencher a planilha de instalação que subsidiará as
                    informações necessárias para o acompanhamento e a manutenção das EDL’s para fins de registro,
                    conforme tabela a seguir. Passe o mouse sobre os números para conhecer as informações de registro de
                    instação das EDL’s.</p>


                <h3>Registro de instalação de estações disseminadoras de larvicida</h3>

                <!-- JUNTAR MARCAÇÕES NA IMGAME E FAZER POPOVERS -->

                <!-- Imagem Mapeada-->
                <img id="imagem-mapeada" class="img-fluid" style="max-width: 100%;"
                    src="assets/images/modulo2/aula1/img10.png" usemap="#image-map">


                <map name="image-map">
                    <area *ngFor="let area of areas" [coords]="area.coords" [title]="area.title" shape="circle"
                        (mouseover)="showTooltip(area.title)" (mouseout)="hideTooltip()">
                </map>

                <!-- Fim da Imagem Mapeada -->
            </div>

            <div class="row blocoTexto">
                <p><b>As informações devem ser preenchidas com letra clara e legível. O preenchimento correto das
                        informações facilitará a logística da manutenção das EDL’s, caso tenha troca ou ausência do
                        ausência do profissional encarregado da visita, diminuindo o tempo e gastos operacionais de
                        visita ou deslocamento adicionais.</b></p>
            </div>

            <div class="conteudo">
                <!-- Botão Início Aula 1 -->
                <div class="row" id="botao">
                    <button class="btn btn-sm" id="botaoVoltar" role="button" aria-pressed="true" alt="Voltar"
                        (click)="voltar()"><strong>VOLTAR</strong></button>
                    <button class="btn btn-sm" id="botaoAvancar" role="button" aria-pressed="true" alt="Começar curso"
                        (click)="ir()">
                        <strong>AVANÇAR</strong>
                    </button>
                </div>
            </div>
            <!-- Rodapé -->
            <app-rodape></app-rodape>
        </div>
    </div>
</section>