/*Menu Superior*/
.logo{
    margin: 1% 0% 1% 5%;
}
.navbar{
    background-color: #2F6C48;
}
.navbar-toggler:hover, :focus{
    box-shadow:  0 0 0 0.1rem !important;
}
.navbar-nav{
    margin-right: 5%;
}
.navbar-nav li{
    margin-right: 40px;
    margin-left: 20px;
}
.navbar-nav li a{
    color: white;
    text-decoration: none;

}

a:hover {
    text-decoration: underline !important;
}

#navbarNavDropdown {
    justify-content: end;
}