<!-- Toolbar -->
<app-menu-superior></app-menu-superior>

<!-- Capa do Curso -->
<div class="capa">
    <img src="assets/images/home/imgCapa.png" class="img-fluid" alt="Capa do Curso">
</div>

<!-- Introdução -->
<div class="conteudo">
    <h1>Olá, seja bem-vindo(a) ao curso Estratégia de Disseminação de Larvicida para combate ao mosquito Aedes.</h1>

    <p>Você irá conhecer neste curso a Estratégia de Disseminação de Larvicida (EDL), que é uma tática muito promissora
        no combate aos mosquitos, pois algumas espécies de mosquitos Aedes usam, frequentemente, criadouros crípticos ou
        situados em locais inacessíveis, muitas vezes difíceis de detectar pelos agentes de combate às endemias (ACE).
    </p>
    <p>Este curso está direcionado aos agentes de saúde, estudantes, pesquisadores e profissionais de saúde que atuam ou
        pretendem atuar no combate aos mosquitos Aedes, e, visa exemplificar a eficiência do combate aos mosquitos Aedes
        por meio de disseminação de larvicidas, pelos próprios mosquitos.</p>
    <p>Assista ao vídeo de apresentação do curso e veja os principais temas que serão abordados.</p>

    <h2>Vídeo de apresentação do Curso</h2>

    <!-- Video 1 -->
    <div class="row justify-content-center">
        <div class="video col-md-8">
            <div class="embed-responsive embed-responsive-16by9">
                <video width="560" height="315" class="embed-responsive-item" controls>
                    <source src="https://educare.fiocruz.br/file-storage/XR7ZmJE2" type="video/mp4" frameborder="0"
                        allow="encrypted-media" allowfullscreen="allowfullscreen">
                </video>
            </div>
            <small class="text-muted">Crédito Vídeo</small>
        </div>
    </div>
</div>


<!-- Instruções -->
<div class="row fundoCapa">
    <img src="assets/images/home/img1.png" alt="">
</div>

<div class="conteudo fundoTexto">

    <h1>Conheça o conteúdo</h1>

    <ul>
        <p><b>Introdução</b></p>

        <p class="tituloLista">Módulo 1: Combate ao mosquito Aedes</p>
        <ul>
            <li>Aspectos básicos da biologia, ecologia e controle de <i>Aedes</i></li>
            <li>História do controle de <i>Aedes aegypti</i> no Brasil</li>
            <li>Inseticidas reguladores de crescimento</li>
            <li>O que é uma Estação Disseminadora de Larvicida (EDL) e como funciona?</li>
            <li>Atividade</li>
        </ul>

        <br>

        <p class="tituloLista">Módulo 2: Implantação, manutenção e distribuição da EDL</p>
        <ul>
            <li>Implantação da EDL</li>
            <li>Manutenção e registro da EDL</li>
            <li>Métodos de distribuição em campo da EDL</li>
            <li>Supervisão da EDL</li>
            <li>Logística estratégica e operacional</li>
            <li>Atividade</li>
        </ul>

        <br>

        <p class="tituloLista">
        Encerramento<br>
        Referências</p>
    </ul>

    <h1>Objetivos</h1>

    <ul>
        <li>Compreender a estratégia de disseminação de larvicida por mosquitos no controle de arboviroses.
        </li>
        <li>Identificar os aspectos básicos da utilização de Estações Disseminadoras de Larvicida (EDL) no controle de
            arboviroses.</li>
        <li>Compreender os procedimentos necessários para a implantação e manutenção de Estações Disseminadoras de
            Larvicida (EDL).</li>
    </ul>

    <!-- Botão Início Aula 1 -->
    <div class="row" id="botao">
        <button class="btn btn-sm" id="botaoAvancar" role="button" aria-pressed="true" alt="Começar curso"
            (click)="ir()">
            <strong>AVANÇAR</strong>
        </button>
    </div>
</div>

<!-- Rodapé -->
<app-rodape></app-rodape>