<!-- Toolbar -->
<app-menu-superior></app-menu-superior>

<!-- Capa do Curso -->
<div class="container-fluid content">

    <!-- Imagem de Capa -->
    <div class="row fundoCapa">
        <div class="col-lg-8 offset-lg-2">
            <div class="capa">

                <h1 class="text-center"><b>Instrumentos para o enfrentamento de emergências de saúde pública no
                        contexto da sociedade
                        civil</b></h1>

                <img src="assets/images/fundoImg.png" class="img-fluid" alt="Capa do Curso">
            </div>
        </div>
    </div>
    <!-- Fim Imagem de Capa-->

    <!-- Introdução -->
    <div class="row" id="fundoTexto">

        <div id="textoCapa">
            <p>As emergências de saúde pública exigem preparação local e internacional robusta com respostas rápidas
                para salvar vidas.
                Este curso reúne informações e instrumentos a fim de apoiar a sociedade civil e os movimentos
                sociais na América Latina na resposta às emergências de saúde pública que afetam suas populações.
            </p>

            <p>Você irá conhecer como opera a governança global, formas de atuação da sociedade civil e instrumentos
                para apoiar a atuação como mediadores e produtores de conhecimento por meio do fortalecimento da
                vigilância popular e do ativismo digital.</p>

            <p>Bom curso!</p>
        </div>
    </div>
    <!-- Fim Introdução -->

    <!-- Botão Início Aula 1-->
    <div class="row" id="botao">
        <button class="btn btn-sm" id="botaoComecar" role="button" aria-pressed="true" alt="Começar curso" (click)="ir()">
            <strong>COMEÇAR</strong>
        </button>
    </div>

    <!-- Rodapé -->
    <app-rodape></app-rodape>

</div>
<!-- Fim da Capa do Curso -->